// flex
@mixin flex-all {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-align {
  display: flex;
  align-items: center;
}
@mixin flex-justify {
  display: flex;
  justify-content: center;
}
@mixin flex-y {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
@mixin flex-y-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@mixin flex-warp {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  align-items: center;
  justify-content: start;
}
@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

// block init
@mixin block-r {
  position: relative;
  width: 100%;
  height: 100%;
}
@mixin block-a {
  position: absolute;
  width: 100%;
  height: 100%;
}
@mixin block-f {
  position: fixed;
  width: 100%;
  height: 100%;
}
@mixin block-rw {
  position: relative;
  width: 100%;
}
@mixin block-aw {
  position: absolute;
  width: 100%;
}
@mixin block-fw {
  position: fixed;
  width: 100%;
}
@mixin block-rh {
  position: relative;
  height: 100%;
}
@mixin block-ah {
  position: absolute;
  height: 100%;
}
@mixin block-fh {
  position: fixed;
  height: 100%;
}

// image
@mixin image-cover {
  @include flex-all;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-user-drag: none;
    user-select: none;
  }
}
@mixin image-contain {
  @include flex-all;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-user-drag: none;
    user-select: none;
  }
}
@mixin image-wt {
  @include flex-all;

  img {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    -webkit-user-drag: none;
    user-select: none;
  }
}
@mixin image-wb {
  @include flex-all;

  img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    -webkit-user-drag: none;
    user-select: none;
  }
}

// 切换状态
@mixin hide-show {
  transition: 0.3s opacity ease-in-out;

  &.show {
    opacity: 1;
  }

  &.hide {
    opacity: 0;
  }
}

// 通用背景配置
@mixin bg($url) {
  background: $url no-repeat center/cover;
}

// 背景contain
@mixin bg-contain($url) {
  background: $url no-repeat center/contain;
}

@mixin bg-x($url) {
  background: $url no-repeat center/cover;
}

// 竖向背景配置
@mixin bg-y($url) {
  background: $url center/contain;
}

// y轴到顶 开始变形
@mixin bg-y-top($url) {
  background: $url center top / cover;
}

// y轴到底 开始变形
@mixin bg-y-bottom($url) {
  background: $url center bottom / cover;
}
